@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

/*Media queries*/
@media screen and (400px <= width <= 1000px){
   
}

html{
    font-family: 'customFont', sans-serif;
}

header{
    background-color:#294c60;
}

.open-btn{
    background-color: #ffefd3;
}

main{
    padding: 95px;
    background-color: #ffefd3;
}

h1, h2{
    font-weight: lighter;
}

.API-one{
    background-color: #001b2e;
    color: white;
    padding: 10px;
    padding-left: 35px;

}

.API-title{
    padding: 15px;
}

.API-info{
    padding: 15px;
}