.bar{
    fill: steelblue;
}

.bar:hover{
    fill: orange;
}

.axis--x path {
    display: none;
}

.axis--y path {
 display: none;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;  /* Disable interaction with the tooltip itself */
    transition: opacity 0.3s ease;
}