@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

/*Media queries*/
@media screen and (400px <= width <= 1000px){
    
}

html{
    font-family: 'customFont', sans-serif;
}

header{
    background-color: #001b2e;
}

.open-btn{
background-color: #adb6c4;
border: none;
}

.main-one{
    background-color: #adb6c4;
    color: white;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 50px; 
}

.main-two{
    background-color: #ffefd3;
    padding-top: 25px;
   padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 50px;
}

h1{
    padding-top: 85px;
}


.graph-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
}

#bar-graph{
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;
}

.chart-container{
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0;
}

#chart{
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0;   
}

.bar{
    fill: steelblue;
}

.bar:hover{
    fill: orange;
}

.axis--x path {
    display: none;
}

.axis--y path {
 display: none;
}

.tooltip {
    /*position: absolute;*/
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;  /* Disable interaction with the tooltip itself */
    transition: opacity 0.3s ease;
}

#convert-btn{
   display: block;
   margin-top: 20px;
   margin-left: 500px;
   margin-bottom: 20px;
   background-color: #001b2e;
   color: white;
   padding: 10px;
   border-radius: 3px;
   width: 150px;
}

#result{
    text-align: center;
    padding-top: 35px;
}


