@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

/*Media queries*/

@media screen and (400px <= width <= 1000px){
    
}

html{
    font-family: 'customFont', sans-serif;
}

header{
    background-color: #adb6c4;
}

.open-btn{
border: none;
background-color: #001b2e;

}

.main-one{
    padding: 95px;
    padding-top: 125px;
    background-color: #001b2e;
    color: white;
}

.main-two{
    padding-left: 95px;
    background-color: #ffefd3;
    padding: 95px;
}

.main-three{
    padding-left: 95px;
    background-color: #adb6c4;
    color: white;
    padding: 95px;
}

h2{
    padding-bottom: 45px;
}

h1, h2,h3{
    font-weight: lighter;
}

.arrow-btn-img{
    height: 20px;
    width: 20px;
   
}

.arrow-btn-img-left{
    height: 20px;
    width: 20px;
    transform: rotate(-180deg);
    
}

.arrow-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
   
}

.dynamic-img{
   height: 713px;
   width: 996px;
   border: #001b2e 1px solid;
}

@media screen and (min-width: 400px) and (max-width:1000px){
.dynamic-img{
    height: 250px;
    width:300px;
 }
}