@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

/*Media queries*/

html{
    font-family: 'customFont', sans-serif;
}

/*Media queries*/

/* Sidebar*/

.open-btn{
    background-color: #294c60;
    color: white;
}


/* header*/

header{
    display: inline;
    background-color: #ffc49b;
    width: 100%;
    top: 0;
    height: 10%;
    position: fixed;
}

/*Main*/

.main-one{
   background-color: #2c4251; 
   padding-bottom: 25px;
   padding-left: 165px;
}

h1, h2, h3{
    font-weight: lighter;
}

.h1-p{
    color: white;  
    padding-top: 85px; 
}

.data-viz-blocks{
   display: grid;
   grid-template-columns: repeat(2,0fr);
   gap: 40px;
   grid-template-rows: repeat(1,0fr); 
}

.data-viz-block-one, .data-viz-block-two {
    margin-bottom: 25px;
    height: 230px;
    width: 270px;
    background-color: white;
    border-radius: 3px;
    margin-left: 85px;  
    padding: 20px;  
}

.data-viz-btn{
    color: #2c4251;
    background-color: #ffefd3;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    margin-left: 20px;
}

.main-two{
    padding: 15px;
    padding-left: 165px;
    padding-right: 190px;
    padding-bottom: 25px;
    background-color: #adb6c4;
    color: white;
}

.design-theory-blocks{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    gap: 40px;
    grid-template-rows: repeat(1,0fr);
    padding-bottom: 105px;
}

.d-t-block{
    width: 300px;
    background-color: white;
    color: #2c4251;
    padding: 21px;
}

.d-t-btn{
    background-color: #ffefd3;
    color: #2c4251;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
}

.api-btn{
    background-color: #ffefd3;
    color: #2c4251;
    border: none;
    border-radius: 3px;
    padding: 15px;
    margin-top: 25px;
    margin-left: 300px;
    margin-bottom: 35px;
}