@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

/*Media queries*/

html{
    font-family: 'customFont', sans-serif;
}

/*Media queries*/

header{
    background-color: #ffefd3;
}

.open-btn{
border: none;
background-color: #ffc49b;
}

.main-one{
background-color: #ffc49b;
padding: 165px;
padding-bottom: 85px;
}

.main-two{
    background-color: #294c60;
    color: white;
    padding: 85px;
    padding-left: 165px;
}

.main-three{
    background-color: #ffc49b; 
    padding: 85px;
    padding-left: 165px;
}

.main-four{
    background-color: #294c60;
    color: white;    
    padding: 85px;
    padding-left: 165px;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}
