@font-face {
    font-family: 'customFont';
    src: url('/Commercial-Website---Assignment-Three/Roboto_Flex/static/RobotoFlex-Regular.ttf');
}

html{
    font-family: 'customFont', sans-serif;
}



header{
    background-color: #ffefd3;
}

.open-btn{
border: none;
background-color: #ffc49b;
}

.main-one{
background-color: #ffc49b;
padding: 165px;
padding-bottom: 85px;
}

.main-two{
    background-color: #294c60;
    color: white;
    padding: 85px;
    padding-left: 165px;
}

.main-three{
    background-color: #ffc49b; 
    padding: 85px;
    padding-left: 165px;
}

.main-four{
    background-color: #294c60;
    color: white;    
    padding: 85px;
    padding-left: 165px;
}

h1, h2{
    font-weight: lighter;
}

.img1{
    height: 450px;
    width: 900px;
}

.img2{
    height: 250px;
    width: 500px;
}

.img6{
    height: 250px;
    width: 500px;
}

.img7{
    height: 450px;
    width: 700px;
}
/*Media queries*/
@media screen and (400px <= width <= 1000px){
    .main-one{
        padding-left: 20px;
    }

    .main-two{
        padding-left: 20px;
    }

    .main-three{
        padding-left: 20px;
    }

    .main-four{
        padding-left: 20px;
    }

    .img1{
        height: 250px;
        width: 500px;
    }

    .img2{
        height: 150px;
        width: 300px;
    }

    .img6{
        height: 150px;
        width: 300px; 
    }
    .img7{
        height: 200px;
        width: 350px;
    }
    image{
        height: 150px;
        width: 100px;
    }
 
}


