
h1{
    padding-left: 250px;
}

.main{
    
}

/* Sidebar
*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translate(-100%);
}

.show-sidebar{
    transform: translate(0);
}

.open-btn{
    position: fixed;
    margin: 25px;
    top: 0;
    right: 0;
}

.close-btn{
    position: fixed;
    margin-left: 5px;

}

.nav-content{
    margin: 50px;
    border: solid;
}